.*
!/.gitignore
/gradle
*.iml
/frontend/out
/frontend/build
/backend/out
/backend/build
/debug/out
/debug/build
/test-framework/out
/test-framework/build
/observability-api/out
/observability-api/build
/observability-http/out
/observability-http/build
*.java~
